<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgradle_firstattempt.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".materialtest.materialtest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".materialtest.materialtest.Activity2"
            android:label="@string/title_activity_activity2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".materialtest.materialtest.MainActivity" />
        </activity>
        <activity
            android:name=".materialtest.materialtest.ActivityUsingTabLibrary"
            android:label="@string/title_activity_activity_using_tab_library" >
        </activity>
    </application>

</manifest>
